@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
  
body{
     font-family: 'Montserrat', sans-serif;
     color: var(--stghcs-blue-one);
 }
 label{
     font-size:13px;
 }
 a{
     user-select: none;
     -webkit-tap-highlight-color: transparent;
     cursor: pointer; 
 }
 a:visited {
  color: inherit; 
 }
 
 :root {
--stghcs-blue-one: #172441;
--stghcs-yellow-one: #FFFF66;
--stghcs-blue-pale: #80a7ff;

}

.bg_yellow{
     background:var(--stghcs-yellow-one) !important;
 }
/*overide bootstraps default look*/
input:focus {
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important; 
border:solid 1px var(--stghcs-blue-one) !important;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: #bbb;
         opacity: 1; /* Firefox */
         font-size:15px;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: #bbb;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
         color: #bbb;
}
.dropdown-menu{
 min-width:14rem;
}


/*--*/  
 .main_wrapper_genevive{
     position:absolute;
     width:100%;
     min-height:100%;
     background:#EEEEEE;
     
 }
 .main_wrapper_genevive .top_bar{
     width:100%;
     height:auto;
     background:white;
     padding: 12px;
     box-sizing:border-box;
 }
 .main_wrapper_genevive .top_bar img{
     width:200px;
 }
 
 
 /*buttons*/
 .stghcs_button_001_blue{
     width:auto;
     padding:10px 20px 10px 20px;
     background:var(--stghcs-blue-one);
     color:white;
     border-radius: 5px;
     text-transform: uppercase;
     font-size:13px;
     cursor:pointer;
     border:none;
 }
 
 .stghcs_button_001_white{
     width:auto;
     padding:10px 20px 10px 20px;
     background:white;
     color:var(--stghcs-blue-one);
     border-radius: 5px;
     text-transform: uppercase;
     font-size:13px;
     cursor:pointer;
     border:none;
 }
 
 .stghcs_button_002_white{
     width:auto;
     padding:10px 20px 10px 20px;
     background:white;
     color:var(--stghcs-blue-one);
     text-transform: uppercase;
     font-size:13px;
     cursor:pointer;
     border:none;
 }
 
 .stghcs_button_003_blue, .stghcs_button_003_white{
     position:relative;
     display:inline-block;
     width:auto;
     padding:10px 30px 10px 30px;
     background:var(--stghcs-blue-one);
     color:white;
     font-size:16px;
     font-weight:500;
     border-radius:3px;
     cursor:pointer;
     margin-top:10px;
     border:none;
 }
 .stghcs_button_003_white{
     background:white;
     color:var(--stghcs-blue-one);
     border:0.5px solid var(--stghcs-blue-one);
 }
 
 /*button behaviours*/
 .desktop_menu_item{
     position:relative;
     display:inline-block;
     cursor:pointer;
 }
 .mobile_menu_toggle{
     display:none;
     cursor:pointer;
 }
 
 /*mobile menu*/
 .stghcs_mobile_menu{
     position:absolute;
     display:none;
     right:0;
     top:0;
     width:320px;
     height:100%;
     background:white;
     color: var(--stghcs-blue-one);
     border:solid 0 var(--stghcs-blue-one);
     border-left:solid 1px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .mobile_menu_top_bar{
     width:100%;
 }
 #close_stghcs_mobile_menu, #open_stghcs_mobile_menu{
     font-size:20px;
 }
 
 /*onboard*/
 #stghcs_logo_mobile{
     display:none;
     position:relative;
     margin:0 auto;
 }
 .stghcs_onboard_section_left{
     position:absolute;
     display:block;
     width:30%;
     height:100%;
     background: var(--stghcs-blue-one);
     background-image: url("https://lavenduct.com/stghs/assets/team.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
 }
 .stghcs_onboard_section_right{
     position:absolute;
     display:inline-block;
     width:70%;
     height:100%;
     right:0;
     padding-bottom:50px;
     overflow:auto;
 }
 .onboard_section_right_inner{
     max-width:70%;
     height:auto;
     padding:20px 20px 5px 40px;
 }
 .stghcs_text_one{
     font-size:2.5vw;
     font-weight:600;
     line-height:1.2;
     color:var(--stghcs-blue-one);
 }
 .stghcs_text_two{
     font-size:1.5vw;
     font-weight:400;
     line-height:1.3;
     color:var(--stghcs-blue-one);
 }
 .stghcs_text_three{
     font-size:24px;
     font-weight:400;
     line-height:1.2;
     color:var(--stghcs-blue-one);
 }
 .stghcs_nowrap{
     white-space: nowrap
 }
 .stghcs_top_margin{
     margin-top:50px;
 }
 .stghcs_top_margin_half{
     margin-top:25px;
 }
 
 @media (max-width: 1150px){
     .onboard_section_right_inner{
         max-width:80%;
     }
 }
 
 @media (max-width: 1050px){
     .onboard_section_right_inner{
     padding:10px 10px 10px 30px;
 }
     .onboard_section_right_inner{
         max-width:70%;
     }
     .stghcs_text_one{
     font-size:30px;
     font-weight:600;
 }
 .stghcs_text_two{
     font-size:18px;
 }
 
 }
 
 @media (max-width:850px){
     .onboard_section_right_inner{
         max-width:80%;
     }
 }
 
 @media (max-width:767px){
     .onboard_section_right_inner{
         max-width:90%;
     }
     .stghcs_button_003_blue{
         width:100%;
         text-align:center;
     }
     .stghcs_button_003_white{
         width:100%;
         text-align:center;
     }
     
 }
     
 @media (max-width:680px){
     .onboard_section_right_inner{
         max-width:100%;
     }
 }
 
 /*onborad mobile*/   
 @media (max-width:650px){
     #stghcs_logo_mobile{
         display:block;
     }
     #stghcs_logo{
         display:none;
     }
     .stghcs_onboard_section_left{
         width:100%;
         height:100%;
         position:fixed;
     }
     .stghcs_onboard_section_right{
         width:90%;
         left:5%;
         background:white;
         top:60px;
         height:auto;
         padding-bottom:40px;
         margin-bottom:40px;
     }
     .onboard_section_right_inner{
         padding:5px 20px 5px 20px;
     }
     .stghcs_text_one, .stghcs_text_two, .stghcs_text_three{
         text-align:center;
         padding:0 20px;
     }
     .stghcs_text_one{
         font-size:5.5vw;
     }
     .stghcs_text_two{
         font-size:3.5vw;
     }
     .stghcs_text_three{
         font-size:18px;
         color: var(--stghcs-blue-one);
     }
 } 
 
 @media (max-width:700px){
     .desktop_menu_item{
      display:none;   
     }
     .mobile_menu_toggle{
     display:inline-block;
     }
 }
 
 @media (max-width:420px){
     .stghcs_mobile_menu{
         width:100%;
     }
 }